%header
%body
  .links
    %a{href: 'http://website.com/products'}
      Products
    %a{href: 'http://website.com/faq'}
      Faq
    %a{href: '/contact'}
      Contact
    %a{href: 'http://vkontakte.com/group'}
      VK Group

  .content
    - 20.times do
      %input{type: :text }
