%header
%body
  .links
    %a{href: 'http://website.com/products'}
      Products
    %a{href: 'http://website.com/faq'}
      Faq
    %a{href: 'http://website.com/contact'}
      Contact
  .content
    - 20.times do
      %input{type: :text }
