%header
%body
  .links
    %a{href: 'http://website.com/products/details'}
      Details
    %a{href: 'http://website.com/products/order'}
      Order
  .content
    - 10.times do
      %input{type: :text }
